<% include partials/header %>

<h1>Employer Database</h1>

<% employers.forEach( employer => { %>
	<ul>
		<li>Employer Name: <%= employer.firstName %> </li>
		<li>Employer Surname: <%= employer.lastName %> </li>
		<li>Employer Email: <%= employer.email %> </li>
		<li>Employer Company Name: <%= employer.companyName %> </li>
		<a href="/employers/<%= employer.id %>"><button>View Employer</button></a>   
	</ul>
<%})%>

<a href='/employerHome'><button>Back to Homepage</button></a>

<% include partials/footer %>