<% include partials/header %>

<h1>Employees For Hire</h1>


<div>
<span><h1>Manual Labour</h1></span>
  <ul> 
  <% employees.forEach( employee => { %>
    <% if(employee.labourType == "Manual Labour")  { %>

        <li>Employee Profession: <%= employee.labourType %> </li>
        <li>Employee Name: <%= employee.firstName %> </li>
        <li>Employee Surname: <%= employee.lastName %> </li>
        <li>Employee Email: <%= employee.email %> </li>
        <li>Date Of Birth: <%= employee.day %> <%= employee.month %> <%= employee.year %> </li>
        <a href="/employers/<%= user.id %>/hireEmployee/<%= employee.id %>"><button>Hire Person</button></a>          
        <br>
        <hr>

    <% } %>
  <%})%>
  </ul>
</div>
<div>
  <span><h1>Painter</h1></span>
  <ul> 
  <% employees.forEach( employee => { %>
    <% if(employee.labourType == "Painter")  { %>

        <li>Employee Profession: <%= employee.labourType %> </li>
        <li>Employee Name: <%= employee.firstName %> </li>
        <li>Employee Surname: <%= employee.lastName %> </li>
        <li>Employee Email: <%= employee.email %> </li>
        <li>Date Of Birth: <%= employee.day %> <%= employee.month %> <%= employee.year %> </li>
        <a href="/employers/<%= user.id %>/hireEmployee/<%= employee.id %>"><button>Hire person</button></a>          
        <br>
        <hr>

    <% } %>
  <%})%>
  </ul>
</div>
<div>
  <span><h1>Bricklayer</h1></span>
  <ul> 
  <% employees.forEach( employee => { %>
    <% if(employee.labourType == "Bricklayer")  { %>

        <li>Employee Profession: <%= employee.labourType %> </li>
        <li>Employee Name: <%= employee.firstName %> </li>
        <li>Employee Surname: <%= employee.lastName %> </li>
        <li>Employee Email: <%= employee.email %> </li>
        <li>Date Of Birth: <%= employee.day %> <%= employee.month %> <%= employee.year %> </li>
        <a href="/employers/<%= user.id %>/hireEmployee/<%= employee.id %>"><button>Hire Person</button></a>          
        <br>
        <hr>

    <% } %>
  <%})%>
  </ul>
</div>

<a href='/'><button>Back To Home</button></a>

<% include partials/footer %>