<% include partials/header %>

<h1>Employer with ID <%= employer.id %></h1>

	<ul>

		<li>Employer Name: <%= employer.firstName %></li>
		<li>Employer Surname: <%= employer.lastName %></li>
		<li>Employer Email: <%= employer.email %></li>
		<li>Employer Company: <%= employer.companyName %></li>
		<a href='/employers/update/<%= employer.id %>'><button>Update Employer</button></a>
		<form method='post' action='/employers/delete/<%= employer.id %>'>
        <a href="/employers/delete/<%= employer.id %>"><button>Delete Employer</button></a>
        </form>
        <a href="/employers/<%= employer.id %>/employeeView"><button>Click to hire employees</button></a>

	</ul>	


<% include partials/footer %>