<% include partials/header %>

<h1>Welcome: <%= user.firstName %></h1>

	<ul>

		<li>Employer Name: <%= user.firstName %></li>
		<li>Employer Surname: <%= user.lastName %></li>
		<li>Employer Email: <%= user.email %></li>
		<li>Employer Company: <%= user.companyName %></li>
		<li>Employer Employements: <%= user.employments %>
		<br>
		<a href='/employers/update/<%= user.id %>'><button>Update Employer</button></a>
		<form method='post' action='/employers/delete/<%= user.id %>'>
        <a href="/employers/delete/<%= user.id %>"><button>Delete Employer</button></a>
        </form>
        <a href="/employers/<%= user.id %>/employeeView"><button>Click to hire employees</button></a>

	</ul>	


<% include partials/footer %>