<% include partials/header %>
<div class='container'>	
	<div class='row'>
		<div class="col-md-12" id='welcomeBox'>
			<h1>Welcome: <%= user.firstName %></h1>
				<ul>
					<li>Employer Email: <%= user.email %></li>
					<li>Employer Company: <%= user.companyName %></li>		
					<br>
					<a href='/employers/update/<%= user.id %>'><button>Update Employer</button></a>
					<form method='post' action='/employers/delete/<%= user.id %>'>
			        <a><button>Delete Employer</button></a>
			        </form>
			        <a href="/employers/<%= user.id %>/employeeView"><button>Click to hire employees</button></a>
				</ul>
			</div>
		</div>	
</div>				

<div class='container' id='employmentsBox'>
	<div class='row'>		
		<div class='col-md-3' id="divvy">
			<h4>CURRENT EMPLOYMENTS</h4>
				<ul>
				 <% employees.forEach( employee => { %>
					<li>Employee Name: <%= employee.firstName %></li>
					<li>Employee Surname: <%= employee.lastName %></li>
					<li>Employee Telephone Number: <%= employee.telephoneNo %></li>
					<div class='popup' onclick='popsup()'><button>Delete</button>
						<button class="popuptext" id="myPopup">Rate the Employee</button>
<!-- 						<form method='post' action='/employers/<%= employee.id %>/employeeDelete'>
							<input type="submit" value="Delete employee">
						</form> -->
					</div>
			 	 <%	 }) %>
				</ul>	 
		</div>
		<div class='col-md-3'>
				<div id='divvy'>
					<h4>Past Employments</h4>
					<p>bla bla bladi bla</p>
				</div>
		</div>
	</div>
</div>					

<script>
function popsup() {
    var popup = document.getElementById("myPopup");
    popup.classList.toggle("show");
}
</script>

<% include partials/footer %>
